<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="header" style="margin-top: -23rem !important;">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card card-span h-100 text-white"> <img class="img-fluid" src="assets/img/her.png" width="790"
            alt="..." />
          <div class="card-img-overlay d-flex flex-center"> <a class="btn btn-lg btn-light" href="#!">Pour Femme</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-span h-100 text-white"> <img class="img-fluid" src="assets/img/him.png" width="790"
            alt="..." />
          <div class="card-img-overlay d-flex flex-center"> <a class="btn btn-lg btn-light" href="#!">Pour Homme </a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->



<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0">
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Qu' est ce qu'on vent ici ?</h5>
      </div>
      <div class="col-12">
        <div class="carousel slide" id="carouselBestDeals" data-bs-touch="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100 align-items-center g-2">
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                      src="assets/img/flat-hill.png" alt="..." />
                    <div class="card-img-overlay ps-0"> </div>
                    <div class="card-body ps-0 bg-200">
                      <h5 class="fw-bold text-1000 text-truncate">Chaussures De Classe</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                      src="assets/img/blue-ring.png" alt="..." />
                    <div class="card-img-overlay ps-0"> </div>
                    <div class="card-body ps-0 bg-200">
                      <h5 class="fw-bold text-1000 text-truncate">Vêtements Haute Game</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/wallet.png"
                      alt="..." />
                    <div class="card-img-overlay ps-0"> </div>
                    <div class="card-body ps-0 bg-200">
                      <h5 class="fw-bold text-1000 text-truncate">Pochettes Chics</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                      src="assets/img/wrist-watch.png" alt="..." />
                    <div class="card-img-overlay ps-0"> </div>
                    <div class="card-body ps-0 bg-200">
                      <h5 class="fw-bold text-1000 text-truncate">Montres Rayonnants</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-dark"
          routerLink="/products/1/0">View All </a></div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->



<!-- ============================================-->
<!-- <section> begin ============================-->
<section>
  <div class="container">
    <div class="row h-100 g-0">
      <div class="col-md-6">
        <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
          <h4 class="text-800">Collection exclusive en Noel 2022</h4>
          <h1 class="fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6">Promo 10%</h1>
          <p class="mb-5 fs-1"> Ne ratez jamais le jour oû vous pouvez vous procurer des vêtements de qualités hautes
            games à un prix moins cher. La chance vous sourit et c'est votre seule chance. Today can be the best day for
            you !</p>
          <div class="d-grid gap-2 d-md-block"><a class="btn btn-lg btn-dark" href="#" role="button">Explorer</a></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/outfit.png"
            alt="..." />
          <div class="card-img-overlay bg-dark-gradient">
            <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1"
                href="#!" role="button">Outfit<svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg"
                  width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                  </path>
                </svg></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row h-100 g-2 py-1">
      <div class="col-md-4">
        <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/vanity-bag.png"
            alt="..." />
          <div class="card-img-overlay bg-dark-gradient">
            <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1"
                href="#!" role="button">Sacs de Classe<svg class="bi bi-arrow-right-short"
                  xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                  </path>
                </svg></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/hat.png" alt="..." />
          <div class="card-img-overlay bg-dark-gradient">
            <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1"
                href="#!" role="button">Hats<svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg"
                  width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                  </path>
                </svg></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/high-heels.png"
            alt="..." />
          <div class="card-img-overlay bg-dark-gradient">
            <div class="d-flex align-items-end justify-content-center h-100"><a class="btn btn-lg text-light fs-1"
                href="#!" role="button">Vos Chaussures<svg class="bi bi-arrow-right-short"
                  xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                  </path>
                </svg></a></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->

<section class="py-0">
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-7 mx-auto text-center mb-6">
        <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Nouvelles Arrivages</h5>
      </div>
      <div class="col-12">
        <div class="carousel slide" id="carouselNewArrivals" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100 align-items-center g-2">
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/full-body.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Flat Hill Slingback</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/formal-coat.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Ocean Blue Ring</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/ocean-blue.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Brown Leathered Wallet</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/sweater.png"
                      alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Silverside Wristwatch</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <div class="row h-100 align-items-center g-2">
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/full-body.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Flat Hill Slingback</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/formal-coat.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Ocean Blue Ring</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/ocean-blue.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Brown Leathered Wallet</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/sweater.png"
                      alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Silverside Wristwatch</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <div class="row h-100 align-items-center g-2">
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/full-body.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Flat Hill Slingback</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/formal-coat.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Ocean Blue Ring</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/ocean-blue.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Brown Leathered Wallet</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/sweater.png"
                      alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Silverside Wristwatch</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row h-100 align-items-center g-2">
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/full-body.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Flat Hill Slingback</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/formal-coat.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Ocean Blue Ring</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100"
                      src="assets/img/ocean-blue.png" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Brown Leathered Wallet</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/sweater.png"
                      alt="..." />
                    <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                      <h6 class="text-primary">$175</h6>
                      <p class="text-400 fs-1">Jumper set for Women</p>
                      <h4 class="text-light">Silverside Wristwatch</h4>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row"><button class="carousel-control-prev" type="button" data-bs-target="#carouselNewArrivals"
                data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span
                  class="visually-hidden">Previous</span></button><button class="carousel-control-next" type="button"
                data-bs-target="#carouselNewArrivals" data-bs-slide="next"><span class="carousel-control-next-icon"
                  aria-hidden="true"></span><span class="visually-hidden">Next </span></button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="collection">
  <div class="container">
    <div class="row h-100 gx-2">
      <div class="col-md-6">
        <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/urban.png" alt="..." />
          <div class="card-img-overlay bg-dark-gradient">
            <div class="p-5 p-md-2 p-xl-5">
              <h1 class="fs-md-4 fs-lg-7 text-light">Urban Stories </h1>
              <h5 class="fs-2 text-light">collection</h5>
            </div>
          </div><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/country.png"
            alt="..." />
          <div class="card-img-overlay bg-dark-gradient">
            <div class="p-5 p-md-2 p-xl-5 d-flex flex-column flex-end-center align-items-baseline h-100">
              <h1 class="fs-md-4 fs-lg-7 text-light">Urban Stories </h1>
              <h5 class="fs-2 text-light">collection</h5>
            </div>
          </div><a class="stretched-link" href="#!"></a>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->
<!-- <section> begin ============================-->
<section>
  <div class="container">
    <div class="row h-100 g-0">
      <div class="col-md-6">
        <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
          <h1 class="fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6">Fallou GNINGUE MAB Création</h1>
          <p class="mb-5 fs-1">Jeune et motivé, J'entre dans la couture très tôt ce qui explique tous mes exploits et ma
            motivation pour...</p>
          <div class="d-grid gap-2 d-md-block"><a class="btn btn-lg btn-dark" href="#!" role="button">Suite</a></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/sharp-dress.png"
            alt="..." /><a class="stretched-link" href="#!"></a></div>
      </div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->

<section class="py-11">
  <div class="bg-holder overlay overlay-0"
    style="background-image:url(assets/img/cta.png);background-position:center;background-size:cover;"></div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="carousel slide carousel-fade" id="carouseCta" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100 align-items-center g-2">
                <div class="col-12">
                  <div class="text-light text-center py-2">
                    <h5 class="display-4 fw-normal text-400 fw-normal mb-4">visiter notre localisation</h5>
                    <h1 class="display-1 text-white fw-normal mb-8">Diourbel</h1><a class="btn btn-lg text-light fs-1"
                      href="#!" role="button">Voir Adresse<svg class="bi bi-arrow-right-short"
                        xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                        </path>
                      </svg></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>